*{
    margin: 0;
    padding: 0;
}
.header-part{
    background-color:  rgba(255, 144, 14, 0.10);
    height: 940px;
    width: 100%;
}
.heading{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 50px;
}
.heading ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}
.heading ul li{
    padding-left: 30px;
    font-family:work sans;
}
.archi{
    font-family:work sans;
    font-size: 27px;
}
.head-title{
    text-align: center;
    padding-top: 60px;
}
.main-title{
    font-size: 38px;
    font-family:work sans;
}
.para-title{
    color: var(--Dark-03, #727272);
    padding-top: 20px;
    padding: 0 auto;
    padding-bottom: 28px;
}
.btn1{
    padding: 15px 19px;
    border: 0;
    border-radius: 6px;
    background-color: #FF900E;
    color: white;
    font-family:work sans;
}
.banner{
    height: 500px;
    width: 1000px;
    /* object-fit: cover; */
    padding-top: 30px;
    padding:0 auto;
    border: 0;
    margin: auto;
    display: block;
    border-radius: 10px;
    padding-bottom: 45px;
}
.flex-sec{
    display: flex;
    margin-top: 50px;
}
.img-div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 150px;
}
.team1{
    margin: 5px;
    height: 270px;
    width: 270px;
}
.text-div{
    padding-left: 90px;
    padding-top: 120px;
}
.quick-para{
    width: 550px;
    color: var(--Dark-03, #727272);
    padding-top: 15px;
    font-family: Work Sans;
    padding-bottom: 25px;
}
.quick-title{
    font-family: Work Sans;
    font-size: 30px;
}
.sec3-text{
    margin-top: 90px;
    margin-bottom: 37px;
    width: 470px;
    margin-left: 150px;
}
.sec-3-para{
   margin-top: 17px;
   color: var(--Dark-03, #727272);
   font-family: Work Sans;
}
.sec-3-title{
    font-family: Work Sans;
    font-size: 28px;
    border-left: 4px solid #FF900E;
    padding-left: 15px;
}
.main-flex-sec{
    display: flex;
}
.sec3-img img{
    height: 730px;
    width: 600px;
    margin-left: 120px;
    margin-top: 90px;
}
.box-sha{
    box-shadow: 5px 5px 5px 5px  var(--Dark-03, #eadede);
    padding-top: 20px;
    padding-left: 17px;
    padding-bottom: 20px;
    padding-left: 17px;
    margin-top: 27px;
}





/* media query codes starts here */
@media only screen and (max-width:500px){
    header-part{
        flex-direction:column;
        width: 100%;
   }
   .heading,.heading ul{
        flex-direction:column;
        width: 100%;
   }
   .heading ul li{
        padding-top: 10px;
   }
   .heading{
        text-align: center;
        margin: 0;
   }
   .banner{
        width: 200px;
        height: 150px;
   }
   .flex-sec,.img-div{
        flex-direction: column;
   }
   .img-div{
        grid-template-columns: 1fr;
        margin-left: 0;
   }
   .text-div{
        padding: 0 auto;
        justify-content: center;
   }
   .quick-para{
        width: 100%;
        text-align: center;
   }
   .quick-title{
        text-align: center;
   }
   .team1{
        width: 200px;
        height: 150px;
   }
}


